@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins&display=swap");

*{
    margin: 0;
    padding: 0;
}

.logo {
    margin: 16px;
    padding: 5px 10px; 
    display: flex; 
    font-weight: 700;
    color: white;
    font-family: Merriweather,serif;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
} 


.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

  .chart-flex{
    display: flex;
    justify-content: space-between;
    gap:35px;   
  }

  .chart-flex .chart{
    flex: 1;
    border: 1px solid lightgray;
    padding: 50px;
    border-radius: 15px;
    width: 45%;
  }

  @media (max-width:1000px){
  .chart-flex{
    flex-direction: column;
  }
  .chart-flex .chart{ 
    width: 100%;
  }
  }